  <div>
    <label>Token value </label> : <span style='background-color: #ccc;'><%= @token %> </span>
  </div>
  <br/>
  <br/>
  <div>
    <label>Secret value</label> : <span style='background-color: #ccc;'><%= @secret %> </span>
  </div>

  <br/>
  <br/>
  <br/>
  <a href='/keys'> back </a>